{% load url from future %}
<h1>{{ event.name }}</h1>

<p>
  <strong>Location: </strong>{{ event.location }}
  <br />
  <strong>Description: </strong>{{ event.description }}
  <br />
  <strong>Category: </strong>{{ event.category }}
  <br />
  <strong>Start time: </strong>{{ event.start_datetime }}
  <br />
  <strong>End time: </strong>{{ event.end_datetime }}
</p>
<!-- <form action="{% url 'update' event.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
 -->