

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 0px;
}

.affix {
	ul {
		margin-top: 10px;
	}
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}

.thumbnail {
  -moz-box-shadow: 0 0 15px 1px #ccc;
  -webkit-box-shadow: 0 0 15px 1px #ccc;
  box-shadow: 0 0 15px 1px #ccc;
  
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  transition: box-shadow 0.5s;

}

.thumbnail:hover {
  -moz-box-shadow: 0 0 15px 1px #888;
  -webkit-box-shadow: 0 0 15px 1px #888;
  box-shadow: 0 0 15px 1px #888;
  
}

.social_icons {
	float: right;
	
	ul {
		list-style: none;
	}
	
	li {
		display: inline-block;
	}
	
	a {
		display: block;
		background-image: url('../img/icons.png');
        background-repeat: no-repeat;
		width: 16px;
		height: 16px;
	}
	
	.github {
	    width: 16px;
	    background-position-x: -104px;
	}
	
	.twitter {
		width: 16px;
	    background-position-x: -74px;
	}
	
	.linkedin {
		width: 57px;
	    background-position-x: 0px;
	}
}













