{% extends "base.html" %}
{% load i18n %}

{% block content_scripts %}
<script>
   $(function () {
       var ele = $('#total_events_counter');
       var total_events = ele.data("total-events");
       var clr = null;
       var initialValue = 0;
       inloop();
       function inloop() {
           if (initialValue == total_events) {
               return;
           }
           ele.html(initialValue += 1);
           clr = setTimeout(inloop, 60); 
       }
   });
</script>
{% endblock %}

{% block content %}
<div class="centered">
  {% if user.is_authenticated %}
    <div class="hero-unit">
      <h2>Welcome {{user.username}}!</h2>
		<p>
		  <span id="total_events_counter" data-total-events="{{ total_events }}">0</span> events have been made with E-Plan.
		  <br />
		  You are going to {{ total_events_attending_active }} upcoming events.
		  <br />
		  You have attended {{ total_events_attending_expired }} events so far.
		</p>
		</div>
    
  {% else %}
    <h2>{{ login_cta }}</h2>
		<form method="post" action="/accounts/login/">
		  {% csrf_token %}
		  <p>
		    <label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30">
		  </p>
		  <p>
		    <label for="id_password">Password:</label> <input type="password" name="password" id="id_password">
		  </p>
		  <input type="submit" value="Log in" class="btn btn-large btn-primary">
		  <input type="hidden" name="next" value="">
		</form>
		<p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>
  {% endif %}
</div>

{% endblock %}
