{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="centered">
  {% if user.is_authenticated %}
    <div class="hero-unit">
      <h2>Welcome {{user.username}}!</h2>
	<!-- 	  
	<div class="span4">
		    <a class="btn btn-primary btn-large" href="{% url index %}"><i class="icon-globe icon-white"></i> View All Events</a>
		  </div>
		  <div class="span4">
        <a class="btn btn-info btn-large" href="{% url my_events %}"><i class="icon-th-list icon-white"></i> View My Events</a>
      </div>
		  <div class="span4">
		    <a class="btn btn-success btn-large" href="{% url create_event %}"><i class="icon-pencil icon-white"></i> Create an Event</a>
		  </div> -->
		<p>
		  {{ total_events }} events have been made with E-Plan.
		  <br />
		  You are going to {{ total_events_attending_active }} upcoming events.
		  <br />
		  You have attended {{ total_events_attending_expired }} events so far.
		</p>
		</div>
    
  {% else %}
    <h2>{{ login_cta }}</h2>
		<form method="post" action="/accounts/login/">
		  {% csrf_token %}
		  <p>
		    <label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30">
		  </p>
		  <p>
		    <label for="id_password">Password:</label> <input type="password" name="password" id="id_password">
		  </p>
		  <input type="submit" value="Log in" class="btn btn-large btn-primary">
		  <input type="hidden" name="next" value="">
		</form>
		<!-- <p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p> -->
  {% endif %}
</div>

{% endblock %}