{% extends "base.html" %}
{% load url from future %}
{% load humanize %}
{% load event_extras %}
{% load i18n %}
{% block content %}
<div class="event_detail">

  {% if not user.is_authenticated %}
  <h2>Log in now to get involved in this event</h2>
  
  <form action="." method="post">
    {% csrf_token %}
    {{login_form}}
    <br />
    <input class="btn btn-success btn-large" name="submit_event_login" type="submit" value="Log In" />
  </form>
  {% endif %}
  
	<h1>{{ event.name }}</h1>
	 {% if not event.is_over and user.is_authenticated %}
    {% if is_attending %}
     <h2>You're attending this event!</h2>
     <a class="btn btn-danger btn-large" href="{% url 'leave' event.id %}"><i class="icon-remove icon-white"></i> Leave Event</a>
    {% else %}
     <a class="btn btn-success btn-large" href="{% url 'attend' event.id %}"><i class="icon-ok icon-white"></i> Attend Event</a>
    {% endif %}
  {% endif %}
  
  <a class="btn btn-primary btn-large " href="{% url 'ics_export' event.id %}" ><i class="icon-calendar icon-white"></i> Export Event</a>
  
  {% if is_managing %}
  <a class="btn btn-warning btn-large" href="{% url 'edit' event.id %}" ><i class="icon-pencil icon-white"></i> Edit Event</a>
  <a class="btn btn-info btn-large" href="{% url 'send_invite' event.id %}" ><i class="icon-envelope icon-white"></i> Send Event</a>
  {% endif %}
  
	<p>
	  <strong>Location: </strong>{{ event.location }}
	  <br />
	  <strong>Description: </strong>{{ event.description }}
	  <br />
	  <strong>Start time: </strong>{{ event.start_datetime }}
	  <br />
	  <strong>End time: </strong>{{ event.end_datetime }}
	</p>
	
	{% if not event.is_over and user.is_authenticated %}
		<h2>Attending: {{num_attendees}}</h2>
		{% if num_attendees > 0 %}
		  <ul class="attendee_list">
		    {% for attendee in attendees %}
		    <li>
		    {{ attendee.user.username }}
		    <i class="{{ attendee.is_managing|yesno:'icon-star-empty,no'}}"></i>
		    </li>
		    {% endfor %}
		  </ul>
		{% else %}
		  <p>
		    There are no attendees at this event =(
		  </p>
		{% endif %}
	{% endif %}
	
	{% if is_managing %}
	<h2>Tasks</h2>
  <form method='post' action='.'>
     {% csrf_token %}
	  <table class="table">
	      {{ task_list_formset.non_form_errors.as_ul }}
	      {{ task_list_formset.management_form }}
	      {% for form in task_list_formset.forms %}
	        
	        {% if forloop.first %}
				  <thead>
				   <tr>
				    {% for field in form.visible_fields %}
				    <th>{{ field.label|capfirst }}</th>
				    {% endfor %}
				   </tr>
				  </thead>
				  {% endif %}
				  <tr class="{% cycle row1,row2 %}">
					  {% for field in form.visible_fields %}
					    <td>
					    {# Include the hidden fields in the form #}
					    {% if forloop.first %}
					      {% for hidden in form.hidden_fields %}
					      {{ hidden }}
					      {% endfor %}
					    {% endif %}
					      {{ field.errors.as_ul }}
					      {{ field }}
					    </td>
					  {% endfor %}
				  </tr>
	      {% endfor %}
	      
	    </table>
	    <!-- <input title='Add a new task' type='submit' name='add_task' value='Add' /> -->
	    <input class="btn btn-success btn-large" title='Submit this form' type='submit' name='submit' value='Update Tasks' />
	</form>

	{% endif %}
	
	{% if is_attending %}
		<h2>Comments</h2>
	  <form action="{% url 'comment' event.id %}" method="post">
    {% csrf_token %}
	  {{ comment_form.as_p }}
	  <input class="btn btn-success btn-large" type="submit" value="Submit Comment" />
	  </form>
    
    {% if comments %}
      <ul class="comments">
      {% for comment in comments %}
        <li>
          <p>
            <strong>{{comment.user}} says:</strong>
            <br />
            {{comment.comment}}
            <br />
            {{comment.created_datetime|timesince}} ago
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    
	{% endif %}
  
</div>

 {% endblock %}