{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load humanize %}
{% block content %}
	<h1>{{ title }}</h1>
	<hr />
	{% if active_events %}
	    
	    <h2>{{active_title}}</h2>
	    
	    {% include "events/_event_list.html" with event_list=active_events %}
	{% else %}
	    <p>
	      There are no active events =(
	      <br />
	      Click <a href="{% url 'index' %}">here</a> to browse ongoing events!
      </p>
      
	{% endif %}
	
	{% if expired_events %}
	  <hr />
	  <h2>Expired Events</h2>
	  
	  {% include "events/_event_list.html" with event_list=expired_events %}
	  
	{% endif %}
{% endblock %}